extends layout
block content
  .container.content_container
      h1 Syncho
      h6 Send files to your friends (upto 10MB) for free!
      hr
      form(action="/submit", method="post", id='form')
        .form-group
          input.form-control(type="email", id="email_from", name="email", required, placeholder="Your email.")
        
        .form-group
          input.form-control(type="email", id="email_to", name="email", required, placeholder="Your friend's email.")
        
        .form-group
          input.form-control(type="file", id="file_input", name="file", accept=".pdf, .doc, .docx", required, style="display: none;")
          .dropzone
            p click or drag to select the file here
        .progress.form-group(style="visibility:hidden", id='upload_percentage')
          .progress-bar(style="width:0%;", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
            | percent

        div(id="message-box")
        button.btn.btn-primary(type="submit", disabled) Send
      .modal.fade.show(id="confirmation-modal", role="dialog")
        .modal-dialog
          .modal-content
            .modal-header
              h4.modal-title
                | Email confirmation
              button.close(type="button", data-dismiss="modal")
            .modal-body
              .form-group
                label(for="inputField")
                  | Verification code
                input.form-control(type="text", id="verification_code_input") 
                .alert.alert-danger.mt-2(id="verification_alert", style='display:none')
                  |Invalid Code

            .modal-footer
              button.btn.btn-secondary(type="button" data-dismiss="modal" id="cancel_verification_button")
                | Cancel
              button.btn.btn-primary( type="button", id="verify_button")
                span.spinner-border.spinner-border-sm.mx-2(style="display:none", id='verify_loading')
                | Verify
  script(src="/javascripts/index.js") 
    
