body {
  height: 100vh;
  padding: 1rem;
}
.content_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;
}
.custom-alert {
  border-radius: 0.5rem;
}
